$black-bkg: #222222;
$pink-light: #F16D7F;
$pink-dark: #F26376;
$gray-brand: #F1E4E6;
$white-bkg: #FFFFFF;
$darkGrey-bkg: #222224;
$brown-brand: #F5F3F3;
$whiteGray-brand: #4A4A4A;
$whiteGray: #B1B1B1;
$black: #000000;
$white-pink: #F8F3F4;
$fresh-grey: #E8E8E8;
$innocence-grey: #FBFBFB;
$clean-grey: #F8F8F8;
$smoke-grey: #5D5D5D;
$silver-grey: #C4C4C4;
$medium-lightGrey: #9F9F9F;