.advantages {
    display: flex;
    align-items: center;
    background-color: $darkGrey-bkg;
    height: 340px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        gap: 46px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 133px;
        background-repeat: no-repeat;
        justify-content: center;
    }

    &__item-img {
        margin-top: 60px;
    }

    &__item-description {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: $innocence-grey;
    }

    &__item-title {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 19.96px;
        line-height: 24px;
        color: $innocence-grey;
    }

    &__item-free-delivery {
        background-position: center 0;
        background-image: url(../img/free_delivery.svg);
    }

    &__item-sales-and-discounts {
        background-position: center 0;
        background-image: url(../img/sales_and_discounts.svg);
    }

    &__item-quality-assurance {
        background-position: center 0;
        background-image: url(../img/quality_assurance.svg);
    }
}

@media (max-width: $tabWidth-edge) {

    .advantages {
        display: flex;
        background-color: $darkGrey-bkg;
        height: 610px;

        &__wrap {
            flex-direction: column;
        }


        &__item {
            align-items: center;
        }

        &__item-description {
            display: flex;
            width: 360px;
            height: 34px;
            justify-content: center;
        }

    }
}

@media (max-width: $mobWidth) {

    .advantages {

        &__item-description {
            width: 100%;
        }

    }
}