.categories {
    margin-top: 66px;
    margin-bottom: 96px;

    &__menu-wrap-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;


        @include tablet {
            gap: 16px;
        }
    }

    &__menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 360px;
        height: 260px;
        background: $silver-grey;
        color: $white-bkg;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include tablet {
            width: 232.09px;
            height: 167.62px;
        }

        @include mobile {
            width: 100%;
            height: 247px;
        }
    }

    &__menu-item-referring {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: $white-bkg;
    }

    &__menu-promotion {
        text-transform: uppercase;
    }

    &__menu--brand-color {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $pink-light;
        text-transform: uppercase;
    }

    &__menu-for-women {
        background-image: url(../img/for_women.png);
    }

    &__menu-for-men {
        background-image: url(../img/for_men.png);
    }

    &__menu-for-kids {
        background-image: url(../img/for_kids.png);
    }

    &__menu-accessories {
        width: 100%;
        height: 180px;
        background-image: url(../img/accessories.png);

        @include mobile {
            height: 111px;
        }
    }
}