.categories {
    margin-top: 66px;
    margin-bottom: 96px;
}

.categories__menu-wrap-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.categories__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 360px;
    height: 260px;
    background: #C4C4C4;
    color: #FFFFFF;
}

.categories__menu-item-referring {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #FFFFFF;
}

.categories__menu-promotion {
    text-transform: uppercase;
}

.categories__menu--brand-color {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
    text-transform: uppercase;
}