.product {
    margin-bottom: 95px;

    &__title {
        text-align: center;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: $black-bkg;
    }

    &__title-description {
        text-align: center;
        margin-top: 6px;
        margin-bottom: 48px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $medium-lightGrey;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        list-style: none;
    }

    &__item-wrap-text {
        margin-left: 18px;
        margin-top: 25.35px;
        margin-right: 28.8px;
    }

    &__item-description {
        margin-top: 12px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $smoke-grey;
    }

    &__item-price {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $pink-light;
        margin-top: 18px;
    }

    &__item {
        margin-right: 0px;
        margin-bottom: 14px;
        width: 360px;
        height: 581px;
        background: $clean-grey;
    }

    &__button-catalog {
        display: flex;
        justify-content: center;
        margin-top: 48px;
    }

    &__item-opacity {
        position: relative;

        &::before {
            opacity: 0;
            content: '';
            width: 360px;
            height: 420px;
            background: rgba(33, 22, 22, 0.7);
            position: absolute;
            transition: all 0.4s ease;
        }

        &:hover .product__item-button-card,
        &:hover::before {
            display: block;
            opacity: 1;
        }
    }

    &__button-catalog-link {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $pink-dark;
        border: 2px solid $pink-dark;
        padding: 14.5px 38.5px 13.5px 38.5px;
        text-decoration: none;
        transition: all 0.3s ease;
        background-color: $white-bkg;

        &:hover,
        &:focus {
            background-color: $pink-dark;
            color: $white-bkg;
            outline: none;
            cursor: pointer;
        }

    }

    &__item-button-card--link {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $white-bkg;
        border: 1px solid $white-bkg;
        padding-left: 40px;
        text-decoration: none;
        background: none;
        outline: none;
        transition: all 0.3s ease;
        background-image: url(../img/product__item-button-icon.svg);
        background-repeat: no-repeat;
        background-position: 12px center;
        width: 138px;
        height: 40px;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: $pink-light;
            border: 1px solid $pink-light;
        }

        &:active {
            box-shadow: 0px 0px 14px 0px rgba(242, 99, 118, 1);
        }
    }

    &__item-button-card {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:hover,
        &:hover::before {
            display: block;
            opacity: 1;
        }
    }
}

@media (max-width: $deskWidth-bottom-edge) {

    .product {

        &__list {
            justify-content: center;

        }

    }
}

@media (max-width: $tabWidth-edge) {

    .product {
        margin-bottom: 95px;

        &__list {
            justify-content: space-between;
        }

    }
}